#mainDiv{
    width: 700px;
    height: 700px;
    border: 1px solid #000;
    background-color: aquamarine;
    display: flex;
    
}

.subDiv{
    width:60px;
    height: 60px;
    border: 1px solid #000;
    background-color: antiquewhite;
}