#dabba{
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    position: absolute;
    animation: dabba 2s linear infinite;
}
@keyframes dabba {
    0%{
        top: 0px;
        left: 0px;
        background-color: brown;
        transform: rotate(360deg);
        transition: transform 1s;
    }
    25%{
        top: 0px;
        left: 500px;
        background-color: cadetblue;
    }
    50%{
        top: 500px;
        left: 500px;
        background-color: blue;
    }
    75%{
        top: 500px;
        left:0px;
        background-color: chocolate;
    }
    100%{
        top: 0px;
        left: 0px;
        background-color: darksalmon;
    }
}
