#maindiv{
    text-align: center;
   
}
img{
    width: 200px;
    height: auto;
}
.links{
    color:white;
}
.links:hover{
    color: black;
    font-size: 20px;
}

.Enroll{
background-color: blue;
color: white;
padding:2px;
border-radius: 20px;
}

.Enroll:hover{
    background-color:aqua
}