h1 {
  width: 200px;
  border: 2px solid #e73073;
  /* margin-left: 0px; */
}
h1:hover {
  /* text-align: center; */
  /* margin-left: 200px; */
  /* transition: margin-left 5s; */
  width: 500px;
  transition: width 5s;
}
#outer {
  width: 500px;
  height: 30px;
  border: 1px solid #000;
  #inner {
    width: 0%;
    height: 30px;
    background-color: antiquewhite;
  }
}
#outer:hover {
  #inner {
    width: 100%;
    background-color: darkturquoise;
    transition: width 5s ease-in-out, background-color 5s ease-in-out;
  }
}
#outer1 {
  width: 500px;
  height: 30px;
  border: 1px solid #000;
  #inner1 {
    height: 30px;
  }
}
#outer1:hover {
  #inner1 {
    animation: myAnimation 5s linear;
  }
}
@keyframes myAnimation {
  0% {
    width: 0%;
    background-color: red;
  }
  50% {
    width: 50%;
    background-color: yellow;
  }
  100% {
    width: 100%;
    background-color: green;
  }
}
