*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
}


#mainDiv{
    /* border: 1px solid #000; */
    padding: auto;
    margin: auto;
    width: 400px;
    height: auto;
}