*{
    padding: 0px;
    padding: 0;
    box-sizing: border-box;
}
#mainDiv{
    /* border: 1px solid #000; */
    padding: auto;
    margin: auto;
    width: 600px;
    height: 400px;
    font-size: medium;
}