#mainDiv{
    width: 700px;
    height: 700px;
    border: 1px solid #000;
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 100px 150px 150px 250px;
    
}

.subDiv{
    width:60px;
    height: 60px;
    border: 1px solid #000;
    background-color: antiquewhite;
}